server {
    # Logs
    access_log  /var/log/nginx/jenkins.access.log;
    error_log   /var/log/nginx/jenkins.error.log;

    listen 443 ssl; # managed by Certbot
    server_name jenkins.{{domaine}};

    ssl_certificate /etc/letsencrypt/live/nexus.coface.softeamgroup.fr/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/nexus.coface.softeamgroup.fr/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

	location / {

	    proxy_pass http://localhost:8080;
	}
}