[Unit]
Description=Nexus
Requires=docker.service

[Service]
ExecStartPre=/bin/sleep 1
ExecStartPre=/bin/docker pull sonatype/nexus3:3.12.1
ExecStart=/bin/docker run --restart=always --name=systemd_nexus -v /mnt/nexus/nfs-blob/:/nfs-blob -v /home/nexus/nexus-data:/nexus-data -p 8081:8081 sonatype/nexus3:3.12.1
ExecStop=/bin/docker stop systemd_nexus
ExecStopPost=/bin/docker rm -f systemd_nexus
ExecReload=/bin/docker restart systemd_nexus

[Install]
WantedBy=multi-user.target