#!/bin/bash

percentage=`df -t ext4 | sed 1d | awk '{print $5}' | tr '%' ' ' |  awk '{print $1}' `

if [ $percentage \> 50 ];
then
	echo "disque plein" | mail -s "disque plein" mehdi.elkouhen@gmail.com
fi;